<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div class="sidebar" th:fragment="adminSidebar">

    <h2>🚆 Railway Admin</h2>

    <a th:href="@{/admin/dashboard}">
        <i class="bi bi-speedometer2"></i> Dashboard
    </a>

    <a th:href="@{/admin/trains}">
        <i class="bi bi-train-front"></i> Manage Trains
    </a>

    <a th:href="@{/admin/users}">
        <i class="bi bi-people"></i> Manage Users
    </a>

    <a th:href="@{/admin/bookings}">
        <i class="bi bi-ticket-perforated"></i> Bookings
    </a>

    <a th:href="@{/admin/reports}">
        <i class="bi bi-bar-chart"></i> Reports
    </a>

    <a th:href="@{/logout}">
        <i class="bi bi-box-arrow-right"></i> Logout
    </a>

</div>

</body>
</html>